
<div class="row" style="margin-left: 10px;">
  <h2><%= category.name%></h2>
</div>
<div class="row" style="margin-top: 40px;">
  <% result.each do |r| %>
    <div class="col-md-4">
      <div class="card-layout">
        <img src="<%= r[:image_url]%>" class="img-card" width="100%" id=logo alt="Logo image" />
        <div class="card-layout-content">
          <p class="title"><%= r[:title]%></p>
          <p class="description"><%= r[:description]%> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>