<div class="rss-feed-results">
  <div class="column1">
    <img src=<%= result[:favicon_url] %> class="feed_logo" />
  </div>
  <div class="column2">
    <div style="font-weight: 700;"><%= result[:title] %></div>
    <div style="color: #a5a5a5;margin-top: 15px;margin-left: -2px">RSS Feed</div>
  </div>
  <div class="column3">
    <% category_content = "<ul>" %>
    <% current_user.categories.all.each do |category| %>
      <% category_content += "<li>
                                <div class='category-name'>
                                  <i class='fa-regular fa-folder folder-icon'></i>
                                  <span>#{category.name}</span>
                                </div>
                                <div class='add-category'>
                                  <span><a class='add-button' data-turbo-stream='true' href='/rss_feeds/add_to_category?rss_link=#{result[:rss_link]}&category_id=#{category.id}'>
                                    Add
                                    <i class='fa-solid fa-plus'></i>
                                  </a></span>
                                </div>
                              </li>" %>
    <% end %>
    <% category_content += "</ul>" %>
    <button type="button" id="follow-button" class="follow-button"
      tabindex="0"
      data-bs-toggle="popover"
      data-bs-trigger="focus"
      data-bs-placement="bottom"
      data-bs-custom-class="custom-popover"
      data-bs-html="true"
      data-bs-content="<%= category_content %>">
      FOLLOW<i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
