<% result.each do |r| %>
  <div class="rss-feed-results">
    <div class="column1">
      <img src=<%= r[:favicon_url] %> class="feed_logo" />
    </div>
    <div class="column2">
      <div style="font-weight: 700;"><%= r[:title] %></div>
      <div style="color: #a5a5a5;margin-top: 15px;margin-left: -2px">RSS Feed</div>
    </div>
    <div class="column3">
      <% category_content = "<ul>" %>
      <% Category.all.each do |category| %>
        <% category_content += "<li>
                                  <div class='category-name'>
                                    <i class='fa-regular fa-folder folder-icon'></i>
                                    #{category.name}
                                  </div>
                                  <div class='add-category'>
                                    <span><a class='add-button' data-turbo-stream='true' href='/rss_feeds/add_to_category?rss_link=#{r[:rss_link]}&category_id=#{category.id}'>
                                      Add
                                      <i class='fa-solid fa-plus'></i>
                                    </a></span>
                                  </div>
                                </li>" %>
      <% end %>
      <% category_content += "</ul>" %>
      <button type="button" id="follow-button" class="follow-button"
        data-bs-toggle="popover" data-bs-placement="bottom"
        data-bs-custom-class="custom-popover"
        data-bs-html="true"
        data-bs-content="<%= category_content %>">
        FOLLOW<i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
<% end %>
