.navbar-container .navbar-header {
	position: relative;
	height: 120px;
	align-items: center;
	border-bottom: 0px solid var(--line-clr);
}

.navbar-header .logo {
	display: flex;
	align-items: center;
	padding-top: 1rem;
}

.navbar-header .logo .logoImg {
	min-width: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
}

.navbar-header .logo .logoImg i {
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	color: var(--heading-clr);
}

.navbar-header .logo .logoImg svg {
	margin-top: 10px;
	color: var(--border-clr);
}

.navbar-container ul.navbar-links {
	width: 100%;
	margin-top: 9rem;
	list-style: none;
	padding: 0px 0px;
}

.navbar-container ul.navbar-links li {
	position: relative;
	width: 100%;
	border-radius: 6px;
	transition: background 0.4s;
}

.navbar-container ul.navbar-links li:hover i {
  color: var(--text-clr);
}

.navbar-container ul.navbar-links li:hover svg {
  color: var(--text-clr);
	transition: color 0s;
}

.navbar-container ul.navbar-links li a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: var(--text-clr);
	display: flex;
	align-items: center;
}

ul.navbar-links li a .nav-icon {
	display: block;
	position: relative;
	min-width: 60px;
	width: 60px;
	height: 100%;
	padding: 14px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Labels */

ul.navbar-links li a .nav-icon i {
	font-size: 20px;
	color: var(--border-clr);
}

ul.navbar-links li a .nav-icon svg {
	font-size: 20px;
	color: var(--border-clr);
}

.navbar-container .navbar-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0px 10px;
	margin-bottom: 10px;
	white-space: nowrap;
}

.navbar-footer .logoutBtn {
	height: 50px;
	display: flex;
	align-items: center;
	width: 65px;
	border-top: 1px solid var(--line-clr);
	border-bottom: 1px solid var(--line-clr);
}

.navbar-footer .logoutBtn i {
	min-width: 60px;
	width: 60px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	color: var(--heading-clr);
}

.navbar-footer .logoutBtn p {
	position: relative;
	padding-left: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--text-clr);
	opacity: 0;
	transition: opacity 0.1s linear;
	pointer-events: none;
}

.navbar-footer .dark-light-mode {
	height: 50px;
	display: flex;
	align-items: center;
}

.dark-light-mode .btn-container {
	min-width: 60px;
	width: 60px;
	height: 40px;
	border-radius: 6px;
	padding: 0px 6px;
	display: flex;
	align-items: center;
}

.dark-light-mode .btn-container .button {
	position: relative;
	width: 100%;
	height: 22px;
	border: 1px solid var(--line-clr);
	border-radius: 25px;
	padding: 2px;
	background-color: var(--menu-hover-clr);
	cursor: pointer;
}

.dark-light-mode .btn-container .button::before {
	content: '';
	position: absolute;
	background-color: #fefefe;
	background-color: var(--heading-clr);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 3px;
	transition: all 0.2s;
}

.dark-light-mode .btn-container .button.active::before {
	left: calc(100% - calc(16px + 3px));
	background-color: #f9f9f9;
}

.navbar-footer .dark-light-mode .text {
	position: relative;
	padding-left: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--text-clr);
	opacity: 0;
	transition: opacity 0.1s linear;
	pointer-events: none;
}

.m-t-2{
	margin-top: 3rem !important;
}

.nav-list-item{
	border-left: 2px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	font-size: 0.8125rem;
	height: 2rem;
	line-height: 1.5rem;
	padding-left: 5px;
	padding-right: 22px;
	align-items: center;
	display: flex;
	position: relative;
}

.nav-list-item:hover{
	background-color: var(--navbar-hover-clr);
}

.nav-list-item-text{
	color: var(--text-clr);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 215px;
	font-size: 15px;
  letter-spacing: 0.7px;
}

.nav-list-item-text-bold{
	font-weight: 700;
}

.nav-list-item-selected {
	border-left-color: #2bb24c;
  color: #2bb24c;
}

.nav-list-item .nav-icon{
	position: relative;
	width: 22px;
	height: 100%;
	padding: 24px 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--border-clr);
	font-size: 18px;
}

.nav-list-item .nav-icon svg.feedly-icon-transparent{
	margin-left: 13px;
  margin-right: 11px;
}

.nav-heading {
	margin-top: 20px;
  padding: 0.475rem 25px 0.1rem 20px;
	width: 100%;
}

.nav-heading span{
	font-size: 14px;
	color: var(--border-clr);
}

.dropdown-content {
	display: none;
	transition: width 0.5s;
	transition-timing-function: ease;
}

.dropdown-content a {
	text-decoration: none;
	color: var(--text-clr);
	margin-left: 47px;
}

.dropdown-icon {
	display: block;
	position: relative;
	width: 22px;
	height: 100%;
	padding: 24px 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1.5s ease-in-out;
	color: var(--border-clr);
}
/* Add styles to show the dropdown when open */
.open {
  display: block;
	transition: transform 1.5s ease-in-out;
  /* other styles */
}

.general-popover {
  background-color: var(--body-clr);;
	box-shadow: 0 2px 8px rgba(255,255,255,.2), 0 0 2px rgba(255,255,255,.58);
  border-radius: 1px solid var(--line-clr)!important;
  max-width: 500px !important;
  padding: 0 !important;
  width: 250px;
  --bs-popover-max-width: 200px;
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-bg: var(--body-clr);
}

.general-popover ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0rem !important;
}

.general-popover.theme-popover {
	width: 140px;
}

.general-popover.theme-popover li{
	margin: 10px 0px 10px 0px;
}

.general-popover.theme-popover li i.fa-circle-dot {
	color: var(--button-clr);
}

.general-popover.theme-popover li i.fa-circle {
	color: var(--border-clr);
}
