.rss-feed-results {
  border: 1px solid var(--line-clr);
  margin-bottom: 1rem;
  padding: 1.5rem;
  margin-top: 50px;
  display: flex;
}

.column1 {
  flex: 15%;
}

.column2 {
  flex: 55%;
}

.column3 {
  flex: 30%;
  align-items: center;
  display: flex;
}

.feed_logo{
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 2px;
}

.feed-list-logo{
  vertical-align: middle;
  height: 25px;
  width: 25px;
  border-radius: 2px;
}

.follow-button {
  background-color: transparent;
  border: 1px solid #2bb24c;
  color: #2bb24c;
  padding: 3px 19px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 40px;
}

.follow-button i {
  margin-left: 8px;
  margin-right: -6px;
}

.add-button {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #2bb24c;
  color: #2bb24c;
  padding: 3px 19px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 15px;
}

.add-button i {
  margin-left: 8px;
  margin-right: -6px;
}

.visit-button {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--border-clr);
  color: var(--border-clr);
  padding: 7px 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  display: block;
  letter-spacing: 2px;
}

.custom-popover {
  background-color: var(--body-clr);;
  box-shadow: 0 2px 8px rgba(255,255,255,.2);
  border-radius: 1px solid var(--line-clr)!important;
  border-radius: 0px !important;
  max-width: 500px !important;
  padding: 0 !important;
  width: 250px;
  --bs-popover-max-width: 200px;
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-bg: var(--body-clr);
}

.tooltip.show{
  background-color: var(--body-clr);;
  box-shadow: 0 2px 8px rgba(255,255,255,.2);
  border-radius: 1px solid var(--line-clr)!important;
  border-radius: 0px !important;
}


.custom-popover.board-popover{
  width: 300px;
}

.custom-popover .popover-body {
  padding: 0 !important;
}

.custom-popover.theme-popover{
  width: 200px;
}

.custom-popover ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0rem !important;
}

.custom-popover ul li {
  margin-left: 0;
  padding-left: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  align-items: center;
  color: var(--text-clr);
  padding: 3px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--line-clr);
  font-size: 13px;
  font-weight: 500;
}

.custom-popover ul li .category-name{
  flex: 60%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-popover ul li .add-category{
  flex: 40%;
}

.custom-popover.board-popover ul li .category-name{
  flex: 70%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-popover.board-popover ul li .category-name i.fa-star{
  color: var(--border-clr);
  padding: 5px 5px;
  font-size: 17px;
}

.custom-popover.board-popover ul li .add-category{
  flex: 30%;
}

.custom-popover.board-popover ul li .add-category .add-button {
  margin-left: 7px;
  padding: 4px 20px;
}

.custom-popover.board-popover ul li .add-category .add-button i{
  margin-left: 1px;
  margin-right: -2px;
}

.custom-popover.board-popover ul li .add-category .remove-button{
  text-decoration: none;
  background-color: transparent;
  border: 1px solid red;
  color: red;
  padding: 3px 8px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 8px;
}
.custom-popover.board-popover ul li .add-category .remove-button i{
  margin-left: 1px;
  margin-right: -2px;
}


.custom-popover ul li:hover{
  background-color: var(--navbar-hover-clr);
}

.folder-icon {
  color: var(--line-clr);
  margin-right: 15px;
  margin-left: 4px;
  font-size: 15px;
}

.card-layout{
  border: 1px solid rgba(0,0,0,0);
  margin-bottom: 40px;
  margin-left: 10px;
  margin-top: 0px;
  padding: 12px;
  position: relative;
  width: 276px;
}

.img-card{
  border-radius: 0.25rem;
  height: 185px;
}

.feed-layout-content .title{
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: 1.25em;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 700;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  text-decoration: none !important;
  color: var(--text-clr);
}

.feed-layout-content .description {
  display: -webkit-box;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0.25rem;
  word-break: break-word;
  color: #a5a5a5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.feed-layout-content .pub-date {
  margin-bottom: 0px;
  font-size: 15px;
  color: var(--border-clr);
}

/* Style for card view feeds */
.card-view .feed-layout {
  position: relative;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  padding: 16px 15px 15px 15px;
}

.card-view .img-card {
  opacity: 1;
  width: 100%;
}

.card-view .bookmark-icons {
  display: none;
  justify-content: flex-end;
  position: absolute;
  top: 25px;
  right: 27px;
  width: 135px;
  font-size: 20px;
  color: var(--text-clr);
  -webkit-text-stroke: 0px;
}

/* Style for title-only view */
.title-view .feed-layout {
  width: 100%;
  margin-right: 30px;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  padding: 16px 15px 15px 15px;
}

.title-view .img-card {
  display: none;
}

.title-view .bookmark-icons {
  display: none;
  position: absolute;
  top: 25px;
  right: 27px;
  width: 100px;
  font-size: 20px;
  color: var(--text-clr);
  -webkit-text-stroke: 0px;
}

.bookmark-icons a{
  color: #e6e6e6;
  text-decoration: none;
  padding: 0px 3px 0px 4px;
}

.bookmark-icons a i.fa-solid.fa-bookmark{
  color: #2bb24c !important;
}

.bookmark-icons a i.fa-solid.fa-check.marked-read{
  color: #2bb24c !important;
}

.feed-layout:hover .img-card {
  filter: brightness(40%);
}

.magazine-view .feed-layout {
  display: inline-flex;
  width: 95%;
  margin: 1%;
  cursor: pointer;
  position: relative;
}

.magazine-view .img-card {
  height: 78px;
  width: 130px;
  margin-right: 20px;
}

.magazine-view .bookmark-icons {
  display: none;
  justify-content: flex-start;
  position: absolute;
  top: -3px;
  right: 17px;
  width: 100px;
  font-size: 20px;
  color: var(--text-clr);
  -webkit-text-stroke: 0px;
}

.magazine-view .feed-layout-content .title{
  -webkit-line-clamp: 1;
  width: 70%;
}

.magazine-view .feed-layout-content .description {
  -webkit-line-clamp: 2;
}

.feed-actions{
  display: flex;
  justify-content: flex-end;
  padding-right: 18px;
}

.feed-actions i {
  margin-left: 10px;
  font-size: 20px;
  color: #a5a5a5;
}

.feed-actions span {
  margin-left: 63%;
}

.feed-actions span i.fa-solid.fa-heart{
  color: var(--button-clr);
}

.list-item{
  font-size: 15px;
  color: var(--text-clr);
  width: 100%;
  cursor: pointer;
}

.list-item{
  font-size: 15px;
  color: var(--text-clr);
  width: 100%;
  cursor: pointer;
}

.list-item.active{
  color: #2bb24c;
}

.list-item span i{
  padding-right: 10px;
  padding-left: 10px;
}

.feed-title {
  font-size: 35px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#feedDescription {
  display: -webkit-box;
  overflow: hidden;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0px;
  margin-top: 1.25rem;
  word-break: break-word;
  color: #a5a5a5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  white-space: pre-wrap;
}

.bookmark-icons i, .bookmark-icons img{
  padding-left: 8px;
}

.board-icon{
  margin-left: 13px;
  margin-bottom: 6px;
}

.board-icon-color{
  color: var(--text-clr);;
}

.no-feeds{
  text-align: center !important;
  width: 75%;
  margin-left: 11%;
  margin-top: 1% !important;
}

.favorite-rss-feed a{
  text-decoration: none;
	color: var(--text-clr);
	margin-left: 17px;
}

.missing-fevicon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "DM Sans", "Open Sans", Arial, sans-serif;
  font-size: 1.75rem;
  line-height: 1;
  border-radius: 0px;
  user-select: none;
  color: rgb(255, 255, 255);
  background-color: rgb(189, 189, 189);
  width: 63px !important;
  height: 63px;
}

.search-result-description{
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
}
