<%= turbo_frame_tag category do %>
  <div data-controller="dropdown">
    <div class="nav-list-item">
      <span class="dropdown-icon" data-action="click->dropdown#toggle"><i class="fa-solid fa-chevron-right" data-dropdown-target="icon"></i></span>
      <span class="nav-list-item-text nav-list-item-text-bold">
        <%= link_to category.name, category_path(category), data: { turbo_stream: 'top' }, style: "text-decoration: none; color: var(--text-clr);" %>
      </span>
    </div>

    <div class="dropdown-content" data-dropdown-target="content">
      <% category.rss_feeds.each do |feed| %>
        <div class="nav-list-item">
          <span class="nav-list-item-text nav-list-item-text-bold">
            <%= link_to feed.link, rss_feed_path(feed), data: { turbo_stream: 'top' } %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
